/data/cifar-10-batches-py/
/data/FashionMNIST/
/data/MNIST/
/save/fedufo.png
/save/fl_avg_mnist_cnn_10.png
/save/fl_avg_mnist_cnn_100.png
/save/fl_avg_mnist_cnn_250.png
/save/fl_avg_mnist_cnn_500.png
/save/fl_avg_mnist_mlp_100.png
/save/fl_dqn_mnist_cnn_100.png
/save/fl_dqn_mnist_mlp_100.png
/save/fl_kcenter_mnist_cnn_10.png
/save/fl_kcenter_mnist_cnn_100.png
/save/fl_kcenter_mnist_cnn_250.png
/save/fl_kcenter_mnist_cnn_500.png
/save/fl_kcenter_mnist_mlp_100.png
/save/nn_mnist_cnn_100.png
/save/nn_mnist_mlp_10.png
/save/nn_mnist_mlp_100.png
